In [2]:
import pandas as pd
import numpy as np
import datetime
import math
from copy import deepcopy

Path = "G:/.shortcut-targets-by-id/1sZS2kL5L66960IYJ4xfNEV9CuKrs_7fE/1조/RAW DATA"

In [985]:
# df = pd.read_csv(Path+"/월별기상관측(2000.01-2021.12).csv",encoding="cp949")
# df.insert(1,'행정구역',object)

# df.to_csv(Path+"/수정_월별기상관측.csv")

In [986]:
# df = pd.read_csv(Path+"/수정_월별기상관측.csv")
# # df.head()

# # 기상 측정소 위치 라벨링
# df.loc[df['지점명']=='서울', '행정구역'] = '서울특별시'
# df.loc[df['지점명']=='무안', '행정구역'] = '전라남도'
# df.loc[df['지점명']=='진도(첨찰산)', '행정구역'] = '전라남도'
# df.loc[df['지점명']=='대구(기)', '행정구역'] = '대구광역시'
# df.loc[df['지점명']=='주암', '행정구역'] = '전라남도'
# df.loc[df['지점명']=='성산포', '행정구역'] = '제주도'

In [987]:
# df_new[df_new["행정구역"]=="<class 'object'>"]["지점명"].unique()
# df.loc[df['지점명']=='주암']
# df.to_csv(Path+"/최종_월별기상관측.csv",encoding="cp949")

In [988]:
#1. 최대일사량 결측치 처리: 동일년도+동일월+동일 행정구역 데이터의 중앙값으로 대체 ex)강원도의 철원지역 결측치 2021년 1월 강원도의 최대일사량
#    (1) 세종시 : 기간 2000년 01월~2019년 04월 충청북도 최대일사량 중앙값으로 대체

In [989]:
# df = pd.read_csv(Path+"/최종_월별기상관측.csv",encoding="cp949")

In [990]:
# df.drop(df.columns[:2],axis=1,inplace=True)   # 0,1번째 컬럼 drop
# # df.head()

In [991]:
# 필요 컬럼만 추출('행정구역', "지점명", '일시', '평균기온(°C)', '최고기온(°C)', '최저기온(°C)', '월합강수량(00~24h만)(mm)', '합계 일사량(MJ/m2)')
# df_new=df[['행정구역', "지점명", '일시', '평균기온(°C)', '최고기온(°C)', '최저기온(°C)', '월합강수량(00~24h만)(mm)', '합계 일사량(MJ/m2)']]

In [992]:
# df_ulsan = df_new[df_new["행정구역"]=="울산광역시"][["행정구역", "합계 일사량(MJ/m2)"]]

# print(len(df_ulsan))
# print(df_ulsan["합계 일사량(MJ/m2)"].isnull().sum())

# 울산광역시의 일사량은 전부 NaN 값

In [993]:
# df_new["합계 일사량(MJ/m2)"].replace(0.0, np.nan, inplace=True)   # 일사량 0.0을 전부 NaN으로 변경

In [994]:
# df_new[df_new["합계 일사량(MJ/m2)"]==0.0]["합계 일사량(MJ/m2)"]

In [995]:
# 일시와 행정구역에 따른 합계 일사량 중앙값
# sunshine = pd.pivot_table(df_new, index="일시", columns="행정구역", values="합계 일사량(MJ/m2)",aggfunc="median")

In [996]:
# sunshine.interpolate(inplace=True)  # 부산광역시 18년도 8월 결측치를 앞뒤 값으로 보간

In [997]:
# df2 = df_new

In [998]:
# df["합계 일사량(MJ/m2)"].fillna()
# for i in range(len(df2)) : 
#     dt = df2.loc[i,"일시"]
#     dstr = df2.loc[i,"행정구역"]
# #     print(dt)
# #     print(dstr)
#     if np.isnan(df2.loc[i,"합계 일사량(MJ/m2)"]) :  # 일사량이 NaN일 때
#         if df2.loc[i,"행정구역"] == "세종특별자치시" :       # 행정구역이 세종시라면
#             df2.loc[i,"합계 일사량(MJ/m2)"] = sunshine["충청북도"][dt]     # 동일 일시의 충청북도 중앙값을 채움
#         elif df2.loc[i,"행정구역"] == "울산광역시" :        # 행정구역이 울산광역시라면
#             df2.loc[i,"합계 일사량(MJ/m2)"] = sunshine["경상남도"][dt]     # 동일 일시의 경상남도 중앙값을 채움
#         else : 
#             df2.loc[i,"합계 일사량(MJ/m2)"] = sunshine[dstr][dt]   # 동일 일시, 동일 행정 구역의 중앙값을 채움

# # pd.pivot_table(df2, index="일시", columns="행정구역", values="합계 일사량(MJ/m2)",aggfunc="median")

In [999]:
# df2[df2["행정구역"]=="세종특별자치시"][["일시","합계 일사량(MJ/m2)"]]

In [1000]:
# df2[df2["행정구역"]=="충청북도"][["일시","합계 일사량(MJ/m2)"]]

In [1001]:
# df2[df2["합계 일사량(MJ/m2)"].isnull()]
# ["울산광역시", "세종특별자치시"]

In [1002]:
# avr_tem = pd.pivot_table(df_new, index="일시", columns="행정구역", values="평균기온(°C)",aggfunc="median")

In [1003]:
# high_tem = pd.pivot_table(df_new, index="일시", columns="행정구역", values="최고기온(°C)",aggfunc="median")

In [1004]:
# low_tem = pd.pivot_table(df_new, index="일시", columns="행정구역", values="최저기온(°C)",aggfunc="median")

In [1005]:
# df2.info()

In [1006]:
# def fill_tem(temperature, dataframe, pivot) : 
#     for i in range(len(dataframe)) : 
#         dt = dataframe.loc[i,"일시"]
#         dstr = dataframe.loc[i,"행정구역"]

#         if np.isnan(dataframe.loc[i,temperature]) :  # 기온 관련 컬럼값이 NaN일 때 
#             dataframe.loc[i,temperature] = pivot[dstr][dt]   # 동일 일시, 동일 행정 구역의 중앙값을 채움
    
#     return dataframe

In [1007]:
# df2 = fill_tem("최저기온(°C)", df2, low_tem)
# df2 = fill_tem("최고기온(°C)", df2, high_tem)
# df2 = fill_tem("평균기온(°C)", df2, avr_tem)

In [1008]:
# df2_tst[df2_tst["평균기온(°C)"].isnull()]

In [1009]:
# df2['평균기온(°C)'] = df2['평균기온(°C)'].fillna(value=avr_tem["충청북도"]["2019-05"])

In [1010]:
# df2.info()

In [1011]:
# df2[df2["행정구역"]=="세종특별자치시"][["일시","합계 일사량(MJ/m2)"]]

In [1012]:
# df2[df2["행정구역"]=="충청북도"][["일시","합계 일사량(MJ/m2)"]]

In [1013]:
# df2_test=pd.pivot_table(df2, index="일시", columns="행정구역", values="합계 일사량(MJ/m2)",aggfunc="median")

In [1014]:
# df2_test

In [1015]:
# chch_copy = df2[df2['행정구역']=='충청북도']
# chch_copy

In [1016]:
# chch_median = chch_copy.groupby("일시").median()

In [1017]:
# chch_median.insert(0,column="행정구역", value="세종특별자치시")
# chch_median.insert(1,column="지점명", value="세종")
# # chch_median

In [1018]:
# chch_median.reset_index(inplace=True)
# chch_median

In [1019]:
# chch_median.insert(3,column="일시",value=chch_median["일시"])
# chch_median
# chch_median.columns

In [1020]:
# chch_median = chch_median[['행정구역', '지점명', '일시', '평균기온(°C)', '최고기온(°C)', '최저기온(°C)','월합강수량(00~24h만)(mm)', '합계 일사량(MJ/m2)']]
# chch_median

In [1021]:
# idx_chch = chch_median[chch_median["일시"]=="2019-05"].index[0]
# idx_chch

In [1022]:
# chch_bef_201905 = chch_median.iloc[:idx_chch,:]
# # chch_bef_201905

In [1023]:
# df2[df2["행정구역"]=="세종특별자치시"]

In [1024]:
# new_df = pd.concat([df2.iloc[:14984],chch_bef_201905,df2.iloc[14984:]])
# # new_df

In [1025]:
# new_df[new_df["행정구역"]=="세종특별자치시"]

In [1026]:
# new_df.info()

In [1027]:
# new_df[new_df['행정구역']=='세종특별자치시'].isnull().sum()

In [1028]:
# new_df.fillna(0.0,inplace=True)
# new_df.info()

In [1029]:
# new_df.to_csv("data/최종_최종__월별기상관측.csv",encoding="cp949")

In [1030]:
# new_df.groupby(["행정구역", "일시"]).median()

In [76]:
new_df = pd.read_csv("./data/최종_최종__월별기상관측.csv", encoding="cp949")
# new_df.info()

In [77]:
new_df.drop("Unnamed: 0", axis=1, inplace=True)  # 0번째 컬럼 drop
# new_df.head(3)

In [78]:
new_df["일시"] = pd.to_datetime(new_df["일시"])  # 일시를 datetime으로 변경
# new_df.head()

In [79]:
new_df["연도"] =  new_df["일시"].dt.year   # 연도만 추출
new_df["월"] =  new_df["일시"].dt.month    # 월만 추출
# new_df.head(10)

In [1035]:
# new_df.columns

In [80]:
# 컬럼 순서 변경
new_df = new_df[['행정구역', '지점명', '연도', '월', '평균기온(°C)', '최고기온(°C)', '최저기온(°C)','월합강수량(00~24h만)(mm)', '합계 일사량(MJ/m2)']]
# new_df.head(3)

In [1037]:
# test = new_df.groupby(["연도","행정구역","월"]).median()[:24]

In [1038]:
# test

In [1039]:
# test2 = test.iloc[[0, 12]]
# for i in range(1, int(len(test)/2)) : 
#     a = test.iloc[[i,i+12]]
#     # print(a)
#     test2 = pd.merge(left = test2, right = a, left_index = True, right_index = True, how = "outer")
# test2

In [1040]:
# test2 = test.iloc[0]
# for i in range(1, len(test)) : 
#     a = test.iloc[i]
#     test2 = pd.merge(left = test2, right = a, left_index = True, right_index = True, how = "outer") 
# test2

In [1041]:
# i = 0, j = 0, k = 0, new_col = 0 empty_frame.iloc[0,0] = test.iloc[0,0]
#               k = 1, new_col = 1 empty_frame.iloc[0,1] = test.iloc[0,1]
#               k = 2, new_col = 2 empty_frame.iloc[0,2] = test.iloc[0,2]
#               k = 3, new_col = 3 empty_frame.iloc[0,3] = test.iloc[0,3]
#               k = 4, new_col = 4 empty_frame.iloc[0,4] = test.iloc[0,4]
# i = 1, j = 0, k = 0, new_col = 5 empty_frame.iloc[0,5] = test.iloc[1,0]
#               k = 1, new_col = 6 empty_frame.iloc[0,6] = test.iloc[1,1]
#               k = 2, new_col = 7 empty_frame.iloc[0,7] = test.iloc[1,2]
#               k = 3, new_col = 8 empty_frame.iloc[0,8] = test.iloc[1,3]
#               k = 4, new_col = 9 empty_frame.iloc[0,9] = test.iloc[1,4]
# i = 12, j = 1, k = 0, new_col = 60 empty_frame.iloc[0,5] = test.iloc[1,0]
#               k = 1, new_col = 6 empty_frame.iloc[0,6] = test.iloc[1,1]
#               k = 2, new_col = 7 empty_frame.iloc[0,7] = test.iloc[1,2]
#               k = 3, new_col = 8 empty_frame.iloc[0,8] = test.iloc[1,3]
#               k = 4, new_col = 9 empty_frame.iloc[0,9] = test.iloc[1,4]

In [81]:
real_test = new_df.groupby(["연도","행정구역","월"]).median() # 연도, 행정구역, 월별로 group화

In [82]:
empty_array = np.empty((int(len(real_test)/12),60))   # (4488/12, 60)의 구조를 가지는 빈 행렬을 생성
empty_array[:] = np.nan
empty_frame = pd.DataFrame(empty_array)

cname = []
for i in range(1,13) : 
    L = ['평균기온(°C)', '최고기온(°C)', '최저기온(°C)','월합강수량(00~24h만)(mm)', '합계 일사량(MJ/m2)']
    for elem in L : 
        word = elem + "_{}월".format(i)  # 각 컬럼명에 1월부터 12월까지 붙여줌
        cname.append(word)

empty_frame.columns = cname   # 변수에 월수가 붙은 리스트를 컬럼명으로 대체

In [83]:
for i in range(len(real_test)) : 
    j = math.floor(i/12)  # 각 행 인덱스를 12로 나눈 후 내림  >>>  0부터 11까지는 0으로, 12부터 23까지는 1로.....
    remain = i%12  # 각 행 인덱스를 12로 나눈 나머지  >>> 0과 12, 24는 0으로, 1과 13 25는 1로......
    for k in range(len(real_test.iloc[i])) : 
        new_col = (remain*5)+k      # remain이 0이면 new_col은 0부터 4까지, remain이 1이면 new_col은 5부터 9까지, remain이 11이면 new_col은 55부터 59까지, 
        empty_frame.iloc[j,new_col] = real_test.iloc[i,k]  # real_test의 데이터를 empty_frame에 삽입
wanna_frame = empty_frame

In [84]:
b = real_test.index   # groupby한 데이터 프레임의 인덱스를 저장
a = [(b[i][0],b[i][1]) for i in range(len(b)) if i%12==0]   # 인덱스를 12로 나눈 후 나머지가 없는 행만 추출(연도는 같고 월만 다르기 때문에 그 중 처음만 가져온다)
                                                            # 그 후 연도와 행정구역만 튜플로 저장

In [85]:
new_index = pd.MultiIndex.from_tuples(a)  # 연도와 행정구역을 추출한 튜플 리스트를 멀티인덱스로 변환

In [86]:
wanna_frame.index = new_index
# wanna_frame.head()

In [87]:
# city 배열 생성
city = ["서울특별시", "부산광역시", "대구광역시", "인천광역시", "광주광역시", "대전광역시", "울산광역시", "세종특별자치시", "경기도", "강원도", "충청북도", "충청남도", "전라북도", "전라남도", "경상북도", "경상남도", "제주도"]
city_list= ["seoul", "busan", "daegu", "incheon", "gwangju", "daejeon", "ulsan", "sejong", "gyeonggi", "gangwon", "chungbuk", "chungnam", "jeonbuk", "jeonnam", "gyeongbuk", "gyeongnam", "jeju"]

# season 배열 생성
season = ["spring", "summer", "fall", "winter"]

# .query()를 사용하여 계절별로 데이터 프레임 생성 

# 지역별, 계절별 배추 생산량 csv 불러오기
for i in range(len(city)):
    for j in range(len(season)):
        globals()[city_list[i] + "_" + season[j]] = pd.read_csv("./data/"+city_list[i]+"_"+season[j]+".csv")
        # globals()[city_list[i] + "_" + season[j]] = new_df[(new_df["행정구역"]==city[i]) & (new_df["일시"].isin(season_list[j]))]
        # globals()[city_list[i] + "_" + season[j]].reset_index(drop=True, inplace=True)
        # globals()[city_list[i] + "_" + season[j]] = globals()[city_list[i] + "_" + season[j]].drop(["행정구역"], axis=1)
        # globals()[city_list[i] + "_" + season[j]] = globals()[city_list[i] + "_" + season[j]].rename(columns={"지점명": "지역명"})
        # # 지역명 컬럼 삭제
        # globals()[city_list[i] + "_" + season[j]] = globals()[city_list[i] + "_" + season[j]].drop(["지역명"], axis=1)
        # # 일시 데이터를 년도로 변경
        # globals()[city_list[i] + "_" + season[j]]["일시"] = globals()[city_list[i] + "_" + season[j]]["일시"].str[:4]
        # # csv 파일로 저장
        # globals()[city_list[i] + "_" + season[j]].to_csv("data/weather/" + city_list[i] + "_" + season[j] + ".csv", encoding="utf-8", index=False)

In [88]:
for i in range(len(city)):
    for j in range(len(season)):
        k_list = []
        for k in range(len(globals()[city_list[i] + "_" + season[j]].iloc[0])) : 
            if k % 3 == 2 or k % 3 == 0 :    # 나머지가 2이거나 0인 k를 저장
                k_list.append(k)
        
        globals()[city_list[i] + "_" + season[j]+ "_select"] = globals()[city_list[i] + "_" + season[j]].iloc[:,k_list]   # 면적과 생산량이 존재하는 컬러만 저장

In [27]:
# gangwon_winter_select

In [89]:
year_list_spring = []
for i in range(2000,2022) : 
    year_list_spring.append((i,"일반봄배추:면적 (ha)"))
    for k in range(i,i+1) : 
        year_list_spring.append((k,"생산량 (톤)"))

In [2]:
# year_list_spring

In [90]:
year_list_summer = []
for i in range(2000,2022) : 
    year_list_summer.append((i,"고랭지배추:면적 (ha)"))
    for k in range(i,i+1) : 
        year_list_summer.append((k,"생산량 (톤)"))

In [91]:
year_list_fall = []
for i in range(2000,2022) : 
    year_list_fall.append((i,"노지가을배추:면적 (ha)"))
    for k in range(i,i+1) : 
        year_list_fall.append((k,"생산량 (톤)"))
# year_list

In [92]:
year_list_winter = []
for i in range(2014,2022) : 
    year_list_winter.append((i,"노지겨울배추:면적 (ha)"))
    for k in range(i,i+1) : 
        year_list_winter.append((k,"생산량 (톤)"))

In [93]:
# year_list_winter

In [1057]:
# year_list = [(i,i) for i in range(2000,2022)]
# year_list

In [94]:
year_list_spring = pd.MultiIndex.from_tuples(year_list_spring)
year_list_summer = pd.MultiIndex.from_tuples(year_list_summer)
year_list_fall = pd.MultiIndex.from_tuples(year_list_fall)
year_list_winter = pd.MultiIndex.from_tuples(year_list_winter)
# year_list

In [1059]:
# for i in range(len(city)):
#     for j in range(len(season)):
#         print(len(globals()[city_list[i] + "_" + season[j]+ "_select"].iloc[0]))

In [95]:
for i in range(len(city)):
    for j in range(len(season)):
        globals()[city_list[i] + "_" + season[j]+ "_select"] = globals()[city_list[i] + "_" + season[j]+ "_select"].transpose()  # 전치
        globals()[city_list[i] + "_" + season[j]+ "_select"].index = globals()["year_list_"+season[j]]   # 인덱스를 year_list로 변경
        # globals()[city_list[i] + "_" + season[j]+ "_select"] = globals()[city_list[i] + "_" + season[j]+ "_select"].reindex(globals()["year_list_"+season[j]])
        # 겨울은 16개다

In [38]:
# gangwon_winter_select

In [1061]:
# jeonnam_winter_select.drop([0],axis=1).unstack().droplevel(0, axis=1)

In [96]:
for i in range(len(city)):
    for j in range(len(season)):
        globals()[city_list[i] + "_" + season[j]+ "_select"] = globals()[city_list[i] + "_" + season[j]+ "_select"].drop([0],axis=1).unstack().droplevel(0, axis=1)

In [71]:
# wanna_frame.index

In [97]:
for i in range(len(season)) : 
    wan_idx = wanna_frame.index  
    globals()["idx_"+season[i]] = [(wan_idx[j][0],season[i],wan_idx[j][1]) for j in range(len(wan_idx))]
    globals()["idx_"+season[i]] = sorted(globals()["idx_"+season[i]],key=lambda x: x[2])
    globals()["idx_"+season[i]] = pd.MultiIndex.from_tuples(globals()["idx_"+season[i]])

In [99]:
for i in range(len(season)) : 
    globals()["wanna_frame_"+season[i]] = deepcopy(wanna_frame)
    globals()["wanna_frame_"+season[i]].index = globals()["idx_"+season[i]]

In [49]:
# wanna_frame_summer.loc[(slice(2000,2022),"summer","강원도")]   # 멀티인덱스 슬라이싱

In [100]:
for i in range(len(season)) : 
    globals()["wanna_frame_"+season[i]] = globals()["wanna_frame_"+season[i]].swaplevel(0).sort_index(level=0)

In [52]:
# wanna_frame_summer

In [1066]:
# # wanna_frame = 
# wanna_frame = pd.concat([wanna_frame_spring, wanna_frame_summer, wanna_frame_fall, wanna_frame_winter], axis=0)

In [1067]:
# wanna_frame_winter

In [1068]:
# gangwon_spring_select

In [101]:
new_city = dict(zip(city,city_list))
new_city = dict(sorted(new_city.items()))
# new_city

In [102]:
cities_spring = []
cities_summer = []
cities_fall = []
cities_winter = []

for k,v in new_city.items():
    for j in range(len(season)):
        globals()["cities_"+season[j]].append(new_city[k]+"_"+season[j]+"_select")

In [103]:
# cities_summer

In [104]:
concat_spring = pd.concat([gangwon_spring_select,
gyeonggi_spring_select,
gyeongnam_spring_select,
gyeongbuk_spring_select,
 gwangju_spring_select,
 daegu_spring_select,
 daejeon_spring_select,
 busan_spring_select,
 seoul_spring_select,
 sejong_spring_select,
 ulsan_spring_select,
 incheon_spring_select,
 jeonnam_spring_select,
 jeonbuk_spring_select,
 jeju_spring_select,
 chungnam_spring_select,
 chungbuk_spring_select])

In [105]:
concat_summer = pd.concat([gangwon_summer_select,
gyeonggi_summer_select,
gyeongnam_summer_select,
gyeongbuk_summer_select,
 gwangju_summer_select,
 daegu_summer_select,
 daejeon_summer_select,
 busan_summer_select,
 seoul_summer_select,
 sejong_summer_select,
 ulsan_summer_select,
 incheon_summer_select,
 jeonnam_summer_select,
 jeonbuk_summer_select,
 jeju_summer_select,
 chungnam_summer_select,
 chungbuk_summer_select])

In [106]:
concat_fall = pd.concat([gangwon_fall_select,
gyeonggi_fall_select,
gyeongnam_fall_select,
gyeongbuk_fall_select,
gwangju_fall_select,
daegu_fall_select,
daejeon_fall_select,
busan_fall_select,
seoul_fall_select,
sejong_fall_select,
ulsan_fall_select,
incheon_fall_select,
jeonnam_fall_select,
jeonbuk_fall_select,
jeju_fall_select,
chungnam_fall_select,
chungbuk_fall_select])

In [107]:
concat_winter = pd.concat([gangwon_winter_select,
gyeonggi_winter_select,
gyeongnam_winter_select,
gyeongbuk_winter_select,
gwangju_winter_select,
daegu_winter_select,
daejeon_winter_select,
busan_winter_select,
seoul_winter_select,
sejong_winter_select,
ulsan_winter_select,
incheon_winter_select,
jeonnam_winter_select,
jeonbuk_winter_select,
jeju_winter_select,
chungnam_winter_select,
chungbuk_winter_select])

In [114]:
idx_winter_from2014 = []
for tup in idx_winter : 
    if tup[0] >= 2014 : 
        idx_winter_from2014.append(tup)
idx_winter_from2014 = pd.MultiIndex.from_tuples(idx_winter_from2014)

In [115]:
for i in range(len(season)-1) : 
    globals()["concat_"+season[i]].index = globals()["idx_"+season[i]]

In [117]:
concat_spring

                 생산량 (톤) 일반봄배추:면적 (ha)
2000 spring 강원도    87619          2147
2001 spring 강원도    83405          1983
2002 spring 강원도    56908          1329
2003 spring 강원도    82760          1735
2004 spring 강원도   100486          2133
...                  ...           ...
2017 spring 충청북도   43757          1015
2018 spring 충청북도   34482           711
2019 spring 충청북도   32762           719
2020 spring 충청북도   27072           595
2021 spring 충청북도   30787           686

[374 rows x 2 columns]

In [118]:
concat_winter.index = idx_winter_from2014
concat_winter

                 노지겨울배추:면적 (ha) 생산량 (톤)
2014 winter 강원도               0       0
2015 winter 강원도               0       0
2016 winter 강원도               0       0
2017 winter 강원도               0       0
2018 winter 강원도               0       0
...                         ...     ...
2017 winter 충청북도              0       0
2018 winter 충청북도              0       0
2019 winter 충청북도              0       0
2020 winter 충청북도              0       0
2021 winter 충청북도              0       0

[136 rows x 2 columns]

In [1079]:
# for i in range(len(idx_winter)) : 
#     if idx_winter[i][0] == 2014 : 
#         print(i)
#         break

In [119]:
for i in range(len(season)) : 
    globals()["concat_"+season[i]] = globals()["concat_"+season[i]].replace('-',np.nan)
    globals()["concat_"+season[i]] = globals()["concat_"+season[i]].astype("float")

In [122]:
# concat_summer

In [123]:
# wanna_frame_summer

In [124]:
for i in range(len(season)) : 
    globals()["concat_"+season[i]] = globals()["concat_"+season[i]].swaplevel(0).sort_index(level=0)

col_list_spring = concat_spring.columns[::-1].to_list()
concat_spring = concat_spring[col_list_spring]

for i in range(len(season)) : 
    globals()["concat_"+season[i]].rename(columns={globals()["concat_"+season[i]].columns[0]:"면적 (ha)"},inplace=True)

In [126]:
# concat_summer

In [127]:
for i in range(len(season)) : 
    globals()["wanna_frame_"+season[i]] = pd.concat([globals()["wanna_frame_"+season[i]], globals()["concat_"+season[i]]],axis=1)

In [128]:
df_jinhyeok = pd.concat([wanna_frame_spring,wanna_frame_summer,wanna_frame_fall,wanna_frame_winter])

In [129]:
df_jinhyeok.head(30)

                 평균기온(°C)_1월  최고기온(°C)_1월  최저기온(°C)_1월  월합강수량(00~24h만)(mm)_1월  \
강원도 spring 2000        -2.90         8.50       -16.00                  48.10
           2001        -2.65        10.20       -15.00                  52.20
           2002         1.40        13.20        -9.60                  21.90
           2003        -0.30        10.70       -12.60                  29.20
           2004         1.00        15.30        -8.80                  33.70
           2005         1.10        11.50        -7.90                   9.20
           2006        -1.20        11.20       -11.90                  27.50
           2007         4.20        15.90        -7.10                  25.90
           2008        -2.10         9.90       -12.10                  42.80
           2009        -2.80         9.90       -14.40                  38.70
           2010         3.10        16.70        -7.80                  24.00
           2011        -2.55         9.90       -12.70                  43.45
           2012         2.05        13.55        -8.35                  28.10
           2013        -0.55        14.25       -17.60                  33.55
           2014         5.85        17.75        -1.45                  80.80
           2015        -1.00        11.50       -15.30                  42.10
           2016        -2.80         9.90       -14.40                  38.70
           2017        -6.10         7.30       -23.50                  37.20
           2018        -5.15         8.70       -22.50                  42.55
           2019        -0.20        10.50       -11.70                  59.70
           2020        -2.10         9.00       -14.20                  36.90
           2021         0.10        11.40       -12.50                  50.40
경기도 spring 2000         0.70        11.00       -11.70                  31.10
           2001        -2.20         9.00       -17.40                  61.20
           2002         2.70        12.00       -10.30                  60.40
           2003        -4.10         6.80       -18.60                  39.40
           2004        -3.70         7.90       -18.10                  47.70
           2005         1.60         9.60        -9.80                  59.40
           2006        -3.80         4.90       -18.20                  40.20
           2007         1.40        10.80       -11.10                  47.50

                 합계 일사량(MJ/m2)_1월  평균기온(°C)_2월  최고기온(°C)_2월  최저기온(°C)_2월  \
강원도 spring 2000           152.990        -3.30         7.70       -15.80
           2001           202.280        -2.30         8.30       -15.05
           2002           173.530         1.20        13.50        -9.70
           2003           167.555         0.20        10.40       -12.90
           2004           176.490         0.60        12.40        -7.60
           2005           157.460         1.30        10.60        -7.30
           2006           158.920        -1.10         9.70       -12.40
           2007           262.770         3.20        13.30        -6.50
           2008           130.930        -1.70         7.50       -11.60
           2009           233.465        -2.20         8.40       -14.20
           2010           173.530         2.70        13.10        -6.10
           2011           148.780        -2.20         6.90       -12.35
           2012           154.375         1.30        12.35        -6.45
           2013           135.920        -0.80         9.95       -11.80
           2014           109.025         4.25        12.90        -2.30
           2015           174.910        -2.20         8.40       -12.80
           2016           233.465        -2.20         8.40       -14.20
           2017           257.045        -2.20        13.50       -17.30
           2018           264.890        -1.45        12.00       -17.10
           2019           276.460         2.50        16.80        -8.80
           2020           231.305         1.30        16.20       -10.30
           2021           286.930         2.40        17.50        -7.70
경기도 spring 2000           260.320         4.20        17.70        -6.10
           2001           272.650         0.90        15.00       -10.40
           2002           252.200         5.70        17.10        -4.40
           2003           205.800        -0.30        12.20       -10.40
           2004           261.880        -0.50        13.30       -12.90
           2005           276.460         4.30        16.80        -6.00
           2006           252.240        -0.80         8.20        -9.20
           2007           243.780         2.90        15.60        -7.20

                 월합강수량(00~24h만)(mm)_2월  합계 일사량(MJ/m2)_2월  ...  최저기온(°C)_11월  \
강원도 spring 2000                   5.70           329.070  ...         -8.40
           2001                   1.55           317.510  ...         -7.90
           2002                   0.00           360.910  ...         -4.20
           2003                   0.00           398.050  ...         -6.90
           2004                  15.40           366.470  ...         -3.00
           2005                   0.00           376.130  ...         -1.50
           2006                   4.10           385.240  ...         -5.30
           2007                   0.00           390.360  ...          2.00
           2008                   2.10           289.380  ...         -3.80
           2009                   3.70           352.855  ...         -7.60
           2010                   0.10           360.910  ...         -0.20
           2011                   1.80           355.600  ...         -3.40
           2012                   5.25           362.270  ...         -3.00
           2013                   8.55           223.170  ...         -6.65
           2014                  12.00           315.045  ...          2.35
           2015                   2.90           335.030  ...         -6.00
           2016                   3.70           352.855  ...         -7.60
           2017                  53.00           295.820  ...         -7.40
           2018                  47.85           304.950  ...         -7.70
           2019                  76.00           324.330  ...         -3.40
           2020                  56.70           279.570  ...         -4.10
           2021                  83.90           345.560  ...         -0.10
경기도 spring 2000                  61.90           316.210  ...         -1.10
           2001                  70.00           322.540  ...         -3.10
           2002                  53.30           283.300  ...         -0.30
           2003                  45.70           256.310  ...         -3.10
           2004                  52.20           317.345  ...         -6.10
           2005                  56.20           324.330  ...         -0.30
           2006                  37.30           306.800  ...         -2.50
           2007                  79.80           312.460  ...         -1.80

                 월합강수량(00~24h만)(mm)_11월  합계 일사량(MJ/m2)_11월  평균기온(°C)_12월  \
강원도 spring 2000                   30.20            231.670         -1.40
           2001                   25.00            262.150         -0.55
           2002                   56.00            301.480          2.00
           2003                   51.50            229.380          0.40
           2004                   53.80            295.020          3.20
           2005                   47.50            264.750          3.90
           2006                   44.60            278.520          1.40
           2007                   72.20            272.180          7.30
           2008                   27.10            213.580          0.90
           2009                   37.30            272.435         -0.50
           2010                   67.50            301.480          4.90
           2011                   21.00            248.030          1.40
           2012                   50.00            286.105          3.80
           2013                   50.75            239.660          1.10
           2014                  102.95            283.795          8.05
           2015                   32.00            258.560          0.60
           2016                   37.30            272.435         -0.50
           2017                   15.50            269.430         -3.00
           2018                   10.60            271.730         -2.30
           2019                   12.00            326.780          1.90
           2020                    6.60            301.210          0.50
           2021                   15.30            332.420          2.50
경기도 spring 2000                    8.00            306.600          1.90
           2001                   10.80            292.690          0.00
           2002                   12.90            332.150          4.80
           2003                   13.00            235.810         -0.60
           2004                    6.90            298.450         -1.80
           2005                   13.20            326.780          4.10
           2006                   14.00            269.640         -0.10
           2007                   19.00            319.360          3.60

                 최고기온(°C)_12월  최저기온(°C)_12월  월합강수량(00~24h만)(mm)_12월  \
강원도 spring 2000         12.50        -14.90                   16.90
           2001         13.25        -12.90                   24.10
           2002         16.10         -8.30                    2.50
           2003         14.80        -11.20                    4.90
           2004         16.70         -6.60                    6.40
           2005         15.30         -6.80                    3.20
           2006         16.00        -10.60                   21.60
           2007         18.00         -5.20                    2.70
           2008         11.90        -11.40                   27.00
           2009         14.50        -13.10                   17.50
           2010         17.00         -6.40                    1.00
           2011         12.40         -9.70                   22.10
           2012         16.30         -6.90                    5.50
           2013         16.90         -9.90                   13.65
           2014         18.30          0.05                    8.00
           2015         15.40        -11.10                   22.50
           2016         14.50        -13.10                   17.50
           2017         10.60        -13.70                   18.50
           2018         11.20        -13.70                   10.90
           2019         14.10         -8.00                   37.30
           2020         12.30        -10.80                   18.60
           2021         14.50         -5.70                   53.50
경기도 spring 2000         13.10         -5.40                   22.60
           2001         12.20         -9.50                   20.40
           2002         17.50         -2.30                   28.70
           2003         10.90         -8.80                   15.70
           2004         10.60        -13.50                   19.50
           2005         15.00         -2.90                   41.90
           2006         10.30         -7.70                   20.60
           2007         13.80         -4.80                   44.55

                 합계 일사량(MJ/m2)_12월  면적 (ha)   생산량 (톤)
강원도 spring 2000            234.160   2147.0   87619.0
           2001            248.430   1983.0   83405.0
           2002            287.570   1329.0   56908.0
           2003            235.800   1735.0   82760.0
           2004            294.420   2133.0  100486.0
           2005            265.720   1377.0   42246.0
           2006            277.550   1415.0   63958.0
           2007            259.920    908.0   43757.0
           2008            193.190    969.0   44642.0
           2009            272.865    784.0   38636.0
           2010            287.570    658.0   27682.0
           2011            245.190   1091.0   50077.0
           2012            276.395    223.0    9060.0
           2013            249.660    562.0   24115.0
           2014            242.270    452.0   18627.0
           2015            252.520    652.0   25506.0
           2016            272.865    600.0   28872.0
           2017            256.155    842.0   47271.0
           2018            255.010    646.0   31063.0
           2019            287.040    689.0   34473.0
           2020            276.510    840.0   41637.0
           2021            270.610    953.0   49258.0
경기도 spring 2000            279.310   1331.0   51949.0
           2001            267.200   1081.0   46656.0
           2002            288.400   1015.0   50486.0
           2003            236.380   1021.0   49079.0
           2004            273.625   1045.0   47046.0
           2005            287.040    728.0   33168.0
           2006            255.590    823.0   37776.0
           2007            217.585    527.0   24242.0

[30 rows x 62 columns]

In [130]:
# df_jinhyeok.to_csv("./data/진혁_데이터프레임.csv")

In [132]:
df_jinhyeok = pd.read_csv("./data/진혁_데이터프레임.csv")
df_jinhyeok.head()

,Unnamed: 0,Unnamed: 1,Unnamed: 2,평균기온(°C)_1월,최고기온(°C)_1월,최저기온(°C)_1월,월합강수량(00~24h만)(mm)_1월,합계 일사량(MJ/m2)_1월,평균기온(°C)_2월,최고기온(°C)_2월,...,최저기온(°C)_11월,월합강수량(00~24h만)(mm)_11월,합계 일사량(MJ/m2)_11월,평균기온(°C)_12월,최고기온(°C)_12월,최저기온(°C)_12월,월합강수량(00~24h만)(mm)_12월,합계 일사량(MJ/m2)_12월,면적 (ha),생산량 (톤)
0,강원도,spring,2000,-2.90,8.5,-16.0,48.1,152.990,-3.3,7.7,...,-8.4,30.2,231.67,-1.40,12.50,-14.9,16.9,234.16,2147.0,87619.0
1,강원도,spring,2001,-2.65,10.2,-15.0,52.2,202.280,-2.3,8.3,...,-7.9,25.0,262.15,-0.55,13.25,-12.9,24.1,248.43,1983.0,83405.0
2,강원도,spring,2002,1.40,13.2,-9.6,21.9,173.530,1.2,13.5,...,-4.2,56.0,301.48,2.00,16.10,-8.3,2.5,287.57,1329.0,56908.0
3,강원도,spring,2003,-0.30,10.7,-12.6,29.2,167.555,0.2,10.4,...,-6.9,51.5,229.38,0.40,14.80,-11.2,4.9,235.80,1735.0,82760.0
4,강원도,spring,2004,1.00,15.3,-8.8,33.7,176.490,0.6,12.4,...,-3.0,53.8,295.02,3.20,16.70,-6.6,6.4,294.42,2133.0,100486.0

In [13]:
df_jinhyeok.rename(columns={"Unnamed: 0":"행정구역","Unnamed: 1":"계절","Unnamed: 2":"연도"},inplace=True)
df_jinhyeok.head()

,행정구역,계절,연도,평균기온(°C)_1월,최고기온(°C)_1월,최저기온(°C)_1월,월합강수량(00~24h만)(mm)_1월,합계 일사량(MJ/m2)_1월,평균기온(°C)_2월,최고기온(°C)_2월,...,최저기온(°C)_11월,월합강수량(00~24h만)(mm)_11월,합계 일사량(MJ/m2)_11월,평균기온(°C)_12월,최고기온(°C)_12월,최저기온(°C)_12월,월합강수량(00~24h만)(mm)_12월,합계 일사량(MJ/m2)_12월,면적 (ha),생산량 (톤)
0,강원도,spring,2000,-2.9,8.5,-16.0,48.1,152.990,-3.3,7.7,...,-8.4,30.2,231.670,-1.4,12.5,-14.9,16.9,234.160,2147.0,87619.0
1,강원도,spring,2001,-6.1,7.3,-23.5,37.2,257.045,-2.2,13.5,...,-7.4,15.5,269.430,-3.0,10.6,-13.7,18.5,256.155,842.0,47271.0
2,강원도,spring,2002,-2.8,10.6,-19.2,60.8,251.510,0.3,14.2,...,-9.8,7.5,281.405,-1.3,16.0,-14.5,49.9,220.680,196.0,9230.0
3,강원도,spring,2003,-5.4,6.8,-20.0,23.7,260.055,-0.4,10.8,...,-7.6,71.7,210.580,-1.5,12.5,-14.1,8.5,260.870,520.0,24752.0
4,강원도,spring,2004,-4.4,8.5,-18.3,11.1,294.320,0.1,18.7,...,-4.9,39.5,267.470,-0.3,15.1,-13.0,20.5,254.615,2491.0,109380.0

In [15]:
df_baechoo = df_jinhyeok.groupby(df_jinhyeok.columns[:3].to_list()).mean()

In [17]:
month_spring = ["_3","_4","_5"]
month_summer = ["_5","_6","_7","_8"]
month_fall = ["_8","_9","_10","_11"]
month_winter = ["_8","_9","_10","_11","_12","_1","_2"]

season = ["spring", "summer", "fall", "winter"]

In [21]:
for i in range(len(season)) : 
    globals()["df_"+season[i]] = df_jinhyeok[df_jinhyeok["계절"]==season[i]]
    globals()["df_"+season[i]] = globals()["df_"+season[i]].groupby(["행정구역","계절","연도"]).mean()

In [23]:
# df_winter